[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/executors"]
	path = external/executors
	url = https://github.com/chriskohlhoff/executors.git
